apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://room-00-prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      graphiteVersion: '1.1'
      tlsAuth: false
      tlsAuthWithCACert: false

  - name: Loki
    type: loki
    access: proxy
    url: http://room-00-loki:3100
    isDefault: false
    editable: true

